{% extends "base.html" %} 
{% block title %}Reset Password{% endblock %}

{% block content %}
<h3 align="center">Reset Password</h3>

<form method="POST">
  {% if user and user.is_authenticated %}
  
    <div class="form-group">
        <label for="current_password">Current Password</label>
        <input
            type="password"
            class="form-control"
            id="current_password"
            name="current_password"
            placeholder="Enter current password"
            required
        />
    </div>

    <div class="form-group">
        <label for="new_password">New Password</label>
        <input
            type="password"
            class="form-control"
            id="new_password"
            name="new_password"
            placeholder="Enter new password"
            required
        />
    </div>

    <div class="form-group">
        <label for="confirm_password">Confirm New Password</label>
        <input
            type="password"
            class="form-control"
            id="confirm_password"
            name="confirm_password"
            placeholder="Confirm new password"
            required
        />
    </div>

    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% else %}

<form method="POST">
    
  <div class="form-group">
      <label for="email">Email Address</label>
      <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter your email address"
          required
      />
  </div>

  <div class="form-group">
      <label for="current_password">Current Password</label>
      <input
          type="password"
          class="form-control"
          id="current_password"
          name="current_password"
          placeholder="Enter current password"
          required
      />
  </div>

  <div class="form-group">
      <label for="new_password">New Password</label>
      <input
          type="password"
          class="form-control"
          id="new_password"
          name="new_password"
          placeholder="Enter new password"
          required
      />
  </div>

  <div class="form-group">
      <label for="confirm_password">Confirm New Password</label>
      <input
          type="password"
          class="form-control"
          id="confirm_password"
          name="confirm_password"
          placeholder="Confirm new password"
          required
      />
  </div>

  <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

{% endif %}

{% endblock %}
